*.class   
# Mobile Tools for Java (J2ME)  
.mtj.tmp/  
# Package Files   
*.jar  
*.war  
*.ear  
target/  
# Logs
logs/    
hs_err_pid*  
# Eclipse  
*.settings  
*.project  
*.classpath 
logs/
.idea/
*iml
# Other
*.class
/.project
/bin/
